{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        {% if survey %}
            <form method="post" class="survey-form">
                {% csrf_token %}

                <h2 class="text-center">{{survey.question}}</h2>

                <div class="mb-3">
                    <p class="text-center">
                        {% if survey.description %}
                        {{survey.description}}

                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                        <div class="d-flex flex-column">
                            {% for option in survey.options.all %}
                                <div class="form-check ">
                                      <input class="form-check-input" type="radio" name="option"
                                             id="option_{{ option.id }}" value="{{ option.id }}" required>
                                      <label class="form-check-label" for="option_{{ option.id }}" style="width: 100%">
                                        {{ option.title }}
                                      </label>
                                </div>
                            {% endfor %}
                        </div>
                </div>

                        {% if not user.email_confirmed %}
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary" disabled>Ответить</button>
                            </div>
                        {% else %}
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary">Ответить</button>
                            </div>
                        {% endif %}

                    {% else %}
                        <p class="text-center">Войдите в систему, чтобы иметь возможность голосовать:
                        </p>
                <p class="text-center"><a class="btn btn-primary center" href="{% url 'login' %}">Войти</a></p>


                    {% endif %}
            </form>
        {% else %}
            <h3>Мы Вас обязательно спросим о чём-то интересном позже.</h3>
        {% endif %}

    </div>
</div>

{% endblock %}
