{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="profile-info">
                <h2 class="text-center">Мой профиль</h2>
                <p><strong>Имя:</strong> John Doe</p>
                <p><strong>Email:</strong> john@example.com</p>
                <p><strong>Телефон:</strong> +1234567890</p>
                <p><strong>Город:</strong> New York</p>
                <p><strong>Страна:</strong> USA</p>
                <!-- Дополнительные сведения о профиле -->
            </div>
        </div>
    </div>

{% endblock %}
