{% extends 'base.html' %}




{% block content %}
{% if error_messages %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in error_messages %}
            <p>{{ field }}:</p>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

        </div>
{% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" class="settings-form">
                {% csrf_token %}
                <h2 class="text-center">Настройки</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="email" name="email" disabled value="{{user.email}}">
                </div>
                <div class="mb-3">
                    <label for="old_password" class="form-label">Старый пароль</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password1" class="form-label">Новый пароль</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                </div>
                <div class="mb-3">
                    <label for="new_password2" class="form-label">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
