{% extends 'base.html' %}

{% block content %}

<h3>Количество пройденных опросов: {{surveys.count}}</h3>

<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col">Статистика</th>
        <th scope="col">Опрос</th>
        <th scope="col">Количество проголосовавших</th>
        <th scope="col">Ваш ответ</th>
    </tr>
    </thead>

    <tbody>
        {% for survey in surveys %}
        <tr data-bs-toggle="collapse" data-bs-target="#demo1" class="accordion-toggle">
            <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#survey{{survey.id}}"
                        aria-expanded="false" aria-controls="collapseExample">Показать</button>
            </td>
            <td>{{survey.question}}</td>
            <td>{{survey.count_voted}}</td>
            <td>{{survey.user_answer}}</td>
        </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="collapse" id="survey{{survey.id}}">
                        <table class="table table-striped">
                            <thead>
                            <tr class="info">
                                <th>Вариант ответа</th>
                                <th>Голосов</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for option in survey.options.all %}
                                <tr>
                                    <td>{{option.title}}</td>
                                    <td>{{option.count_voted}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}