{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3>Количество пройденных опросов: {{surveys.count}}</h3>
        {% for survey in surveys %}
            <form class="survey-form">


                <div class="mb-3">
                    <p class="text-center">Вопрос: <strong>{{survey.question}}</strong></p>
                    <p class="text-center">Описание:
                        {% if survey.description %}
                        {{survey.description}}
                        {% else %}
                        -
                        {% endif %}
                    </p>
                    <div class="d-flex flex-column">
                        {% for option in survey.options.all %}
                            <div class="form-check d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="radio" name="option" id="option_{{ option.id }}"
                                       style="opacity: 1;"
                                       disabled
                                       {% if user in option.users.all %}
                                           checked
                                       {% endif %}
                                    >
                                    <label class="form-check-label" for="option_{{ option.id }}" style="opacity: 1; width: 100%">
                                        {{ option.title }}
                                    </label>
                                </div>
                                <div>{{option.count_voted}}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="text-center">Проголосовало: {{survey.count_voted}}</p>
                </div>
            </form>
        {% endfor %}

    </div>
</div>

{% endblock %}